@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Voltaire&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center;
}
.bg-home {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
}

.bg-profile {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/background3.png');
  background-size: cover;
  background-position: center;
}

.bg-alimentos {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/background-food.png');
  background-size: cover;
  background-position: center;
}
.bg-juguetes {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/background-toys2.png');
  background-size: cover;
  background-position: center;
}
.bg-accesorios {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/background-accesories3.png');
  background-size: cover;
  background-position: center;
}
.bg-farmacia {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/background-medicine3.png');
  background-size: cover;
  background-position: center;
}

.font-kanit {
  font-family: 'Kanit', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-carterOne {
  font-family: 'Carter One', cursive;
}

.bg-whiteTransparent {
  /* background-color: rgba(253, 254, 255, 0.845); */
  
  background-color: rgba(253, 254, 255, 0.582);
  backdrop-filter: blur(12px);
}
